<script id="table-search-fast-client" type="text/x-handlebars-template">
<div class="table-responsive  bw-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-2">Nome</th>
				<th class="col-sm-2">CPF/CNPJ</th>
				<th class="col-sm-2">Cidade/UF</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-id ="{{id}}" data-name="{{name}}" class="js-client-search-fast">
						<td>{{name}}</td>
						<td>{{cpfOuCnpj}}</td>
						<td>{{cityState}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="2">Nenhum cliente encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>