<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:alvorecer="http://alvorecer.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="~{layout/LayoutPadrao}">

<head>
	<title>Reservas</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.css}"/>
	
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if = "${reserve.new}">Cadastro Reservas</h1>
						<h1 th:unless = "${reserve.new}">Edição do Voucher nº  - [[${reserve.voucher}]]</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/reservations}"> 
								<i class="glyphicon glyphicon-plus-sign"></i> 
								<samp class="hidden-xs hidden-sm ">Reservas</samp>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form  method="POST" th:action="@{/reservations/new}" th:object="${reserve}" 
					class="form-vertical  js-form-loading js-formulario-principal">
				
				<input type="hidden" id="uuid" th:field="*{uuid}"/>
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{use}"/>
				
				<alvorecer:message/>	
							
		       <input type="hidden" th:field="*{id}"/> 
				
				<div class="row">
					<div class="col-sm-3">
						<div class="aw-box js-valor-total-box-container">
							<div class="aw-box__icon">
								<i class="fa fa-usd fa-3x"></i>
							</div>
							<div class="aw-box__value">R$ <span class="js-valor-total-box" th:text="${{reserve.valor}}">0,00</span></div>
							<div class="aw-box__title">Total</div>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa fa-tag fa-3x"></i>
							</div>
							<div class="aw-box__value" th:text="${reserve.statusVouchers.descricao}">Orçamento</div>
							<div class="aw-box__title" >Status</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa fa-calendar fa-3x"></i>
							</div>
							<div class="aw-box__value">
								<span class="js-tooltip" th:if="${reserve.diasCriacao == 0}">Hoje</span>
								<span class="js-tooltip" th:if="${reserve.diasCriacao == 1}">Há 1 dia</span>
								<span class="js-tooltip" 
									th:if="${reserve.diasCriacao > 1}">Há [[${reserve.diasCriacao}]] dias</span>
							</div>
							<div class="aw-box__title">Criação</div>
						</div>
					</div>
				</div>
							
				<div class="row">
					<div class="form-group  col-lg-10">
						<ul class="nav nav-tabs  js-abas-voucher">
						  <li role="presentation" class="active"><a href="#produtos">Produtos</a></li>
						  <li role="presentation"><a href="#client">Cliente</a></li>
						</ul>
					</div>
				</div>
				
				<div class="tab-content">
					<div class="tab-pane active" id="produtos">

						<div class="row">
							<div class="form-group  col-lg-10">
								<input type="text" class="form-control js-name-product-input" id="products"
									placeholder="Pesquise pelo nome do produto" data:url="@{/products}"
									th:disabled="${reserve.salvarProibido}"/>
							</div>
						</div>
						
						<div class="bw-tabela-cervejas col-lg-10 js-tabela-cervejas-container js-table-vouchers-containner"
						    	data:valor="${valorTotalItens}">
							<th:block th:replace="formSystem/reservations/ReserveTableItens"></th:block>
						</div>					
					</div>
 					
					<div class="tab-pane" id="client">
						
						<div class="row">
							<div class="col-sm-4 form-group" alvorecer:classforerror="client.id">
								<label class="control-label" for="nameClient">Cliente</label>
								<div class="input-group">						
									<input id="idClient" type="hidden" th:field="*{client}"/>									
									<input id="nameClient" type="text" readonly="readonly" 
										class="form-control" th:field="*{client.name}"
										placeholder="Clique na lupa para pesquisar o cliente"/>
									<span class="input-group-btn">
						        		<button class="btn  btn-default  js-tooltip" type="button" 
						        				title="Pesquisa avançada" data-toggle="modal"
						        				data-target="#clientSearchFast" th:disabled="${reserve.salvarProibido}">
						        			<i class="glyphicon  glyphicon-search"></i>
						        		</button>
						      		</span>	
								</div>
						
							</div>
							
							<div class="col-sm-2 form-group">
								<label class="control-label" for="visitDate">Data Visita</label>
								<input id="visitDate" type="text" th:field="*{visitDate}" 
									class="form-control js-date" th:disabled="${reserve.salvarProibido}"/>
							</div>
							
							<div class="form-group  col-sm-2">
								<label class="control-label" for="valorAntecipado">Deposito Antecipado</label>
								<div class="input-group">
				      				<div class="input-group-addon">R$</div> 
									<input type="text" maxlength="14" class="form-control  js-decimal" id="valorAntecipado"
										th:field="*{valorAntecipado}" data:valor="${valorAntecipado}" 
										th:disabled="${reserve.salvarProibido}"/>
								</div>
							</div>
							
							<div class="col-sm-2 form-group">
								<label class="control-label" for="voucher">Voucher</label>
								<input id="voucher" type="text" class="form-control" th:value="${voucher}" 
									 th:field="*{voucher}" readonly/>
							</div>							
						</div>
						
						<div class="row">
							<div class="col-sm-4 form-group">
								<label for="name" class="control-label">Tipo do Grupo</label>
								<input id="name" type="text" class="form-control" th:disabled="${reserve.salvarProibido}"/>
							</div>
						</div>
								
						<div class="row">
							<div class="form-group  col-sm-10">
								<textarea class="form-control" id="observation" rows="5" 
										placeholder="Alguma observação sobre o Voucher?" 
										th:disabled="${reserve.salvarProibido}"></textarea>
								</div>
							</div>
					</div>
					
				</div>
				 
				<div class="row" style="clear: both" th:if="${reserve.salvarPermitido}">
					<div class="col-lg-12">
						<div class="btn-group">
						  <button type="submit" class="btn  btn-primary js-submit-btn" data:acao="salvar">Salvar</button>
						  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  
						  <ul class="dropdown-menu">
						    <li><a href="#" class="js-submit-btn" data:acao="emitir">Salvar e emitir</a></li>
						    <li><a href="#" class="js-submit-btn" data:acao="enviarEmail">Salvar e enviar por e-mail</a></li>
						  </ul>
						</div>
					
						<button class="btn  btn-danger js-submit-btn" data:acao="cancelar"
						th:unless="${reserve.new}">Cancelar</button>
					</div>
			</div>
			</form>
		</div>
		
		<th:block th:replace="formSystem/clients/ClientSearchFast :: clientSearchFast"></th:block>
		<th:block th:replace="formSystem/hbs/TempleteAutoCompleteReserve"></th:block>
		
	</section>
</body>
<th:block layout:fragment="javascript-extra">
	
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	
	<script th:src="@{/javascripts/client.search-fast.js}"></script>
	<script th:src="@{/javascripts/reserve.autocomplete-itens.js}"></script>
	<script th:src="@{/javascripts/reserve.table-itens.js}"></script>
	<script th:src="@{/javascripts/voucher.js}"></script>
	<script th:src="@{/javascripts/voucher-btn-submit.js}"></script>
	
	<script>
		$(function() {
			$('.js-abas-voucher a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	
</th:block>
</html>